 /* element name */
 /* div {
            color: crimson;
            font-size: x-large;
        } */
 /* id */
 
 #super {
     font-size: xx-large;
 }
 /* class */
 
 .st {
     background-color: cyan;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 li:hover {
     background-color: red;
 }